.bg-pattern {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bg-pattern-mask-fade-edges {
  mask-image: radial-gradient(ellipse at center, #000, transparent);
  -webkit-mask-image: radial-gradient(ellipse at center, #000, transparent);
}

.bg-pattern-mask-fade-center {
  mask-image: radial-gradient(ellipse at center, transparent, #000);
  -webkit-mask-image: radial-gradient(ellipse at center, transparent, #000);
}

.bg-pattern-mask-fade-top {
  mask-image: linear-gradient(to bottom, transparent, #000);
  -webkit-mask-image: linear-gradient(to bottom, transparent, #000);
}

.bg-pattern-mask-fade-bottom {
  mask-image: linear-gradient(to bottom, #000, transparent);
  -webkit-mask-image: linear-gradient(to bottom, #000, transparent);
}

.bg-pattern-mask-fade-left {
  mask-image: linear-gradient(to right, transparent, #000);
  -webkit-mask-image: linear-gradient(to right, transparent, #000);
}

.bg-pattern-mask-fade-right {
  mask-image: linear-gradient(to right, #000, transparent);
  -webkit-mask-image: linear-gradient(to right, #000, transparent);
}

.bg-pattern-mask-fade-x {
  mask-image: linear-gradient(to right, transparent, #000, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, #000, transparent);
}

.bg-pattern-mask-fade-y {
  mask-image: linear-gradient(to bottom, transparent, #000, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, #000, transparent);
}
